<a href="https://colab.research.google.com/github/Minami5/tigerfish/blob/master/notebooks/dl/dl_No2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!curl -O https://raw.githubusercontent.com/Minami5/tigerfish/master/utils/support.py

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100   588  100   588    0     0  10315      0 --:--:-- --:--:-- --:--:-- 10315

In [2]:
!ls

__pycache__  sample_data  support.py

In [3]:
import support

In [4]:
(x_train, y_train), x_test = support.fetch_titanic()

In [5]:
x_train.head()

     pclass     sex   age  sibsp  ...  deck  embark_town alive  alone
857       1    male  51.0      0  ...     E  Southampton   yes   True
52        1  female  49.0      1  ...     D    Cherbourg   yes  False
386       3    male   1.0      5  ...   NaN  Southampton    no  False
124       1    male  54.0      0  ...     D  Southampton    no  False
578       3  female   NaN      1  ...   NaN    Cherbourg    no  False

[5 rows x 14 columns]

In [6]:
x_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 623 entries, 857 to 684
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   pclass       623 non-null    int64
 1   sex          623 non-null    object
 2   age          502 non-null    float64
 3   sibsp        623 non-null    int64
 4   parch        623 non-null    int64
 5   fare         623 non-null    float64
 6   embarked     621 non-null    object
 7   class        623 non-null    category
 8   who          623 non-null    object
 9   adult_male   623 non-null    bool
 10  deck         151 non-null    category
 11  embark_town  621 non-null    object
 12  alive        623 non-null    object
 13  alone        623 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(3), object(5)
memory usage: 56.4+ KB

In [7]:
x_train.isnull().sum()

pclass           0
sex              0
age            121
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           472
embark_town      2
alive            0
alone            0
dtype: int64

In [8]:
x_train = x_train.drop(["age", "embarked", "deck", "embark_town"], axis=1)

In [9]:
x_train.isnull().sum()

pclass        0
sex           0
sibsp         0
parch         0
fare          0
class         0
who           0
adult_male    0
alive         0
alone         0
dtype: int64

In [10]:
import pandas as pd

In [11]:
x_train = pd.get_dummies(x_train)

In [12]:
x_train.head()

     pclass  sibsp  parch     fare  ...  who_man  who_woman  alive_no  alive_yes
857       1      0      0  26.5500  ...        1          0         0          1
52        1      1      0  76.7292  ...        0          1         0          1
386       3      5      2  46.9000  ...        0          0         1          0
124       1      0      1  77.2875  ...        1          0         1          0
578       3      1      0  14.4583  ...        0          1         1          0

[5 rows x 16 columns]

In [13]:
import torch
import torch.nn as nn
import torch.optim as optim
from torch.utils.data import Dataset, DataLoader

import numpy as np

In [14]:
data = torch.tensor(x_train.values.astype(np.float32))
print(data)
print(data.shape)

targets = torch.tensor(y_train.values.astype(np.int64))
print(targets)
print(targets.shape)

tensor([[1., 0., 0.,  ..., 0., 0., 1.],
        [1., 1., 0.,  ..., 1., 0., 1.],
        [3., 5., 2.,  ..., 0., 1., 0.],
        ...,
        [3., 0., 0.,  ..., 0., 1., 0.],
        [3., 1., 0.,  ..., 1., 0., 1.],
        [2., 1., 1.,  ..., 0., 1., 0.]])
torch.Size([623, 16])
tensor([1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0,
        1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1,
        0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0,
        0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1,
        0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0,
        1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0,
        1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1,
        0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1,
        0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0,
        0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1,
        0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1,
        1, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 0,
        0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1,
        1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0,
        0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0,
        0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0,
        0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0,
        0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0,
        1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1,
        1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1,
        1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1,
        0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1,
        0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 0,
        0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0])
torch.Size([623])

In [15]:
class TitanicDataset(Dataset):
  def __init__(self, x, y):
    self.data = x
    self.targets = y

  def __len__(self):
    return len(self.targets)

  def __getitem__(self, item):
    x = self.data[item]
    y = self.targets[item]
    return x, y

In [16]:
train_ds = TitanicDataset(data, targets)
train_loader = DataLoader(train_ds, batch_size=32, shuffle=True)

In [17]:
class Model(nn.Module):
  def __init__(self, in_features, mid_features, n_class):
    super(Model, self).__init__()
    self.fc = nn.Sequential(
        nn.Linear(in_features, mid_features),
        nn.ReLU(),
        nn.Linear(mid_features, mid_features),
        nn.ReLU()
    )
    self.clf = nn.Linear(mid_features, n_class)

  def forward(self, x):
    out = self.fc(x)
    out = self.clf(out)
    return out

In [18]:
model = Model(16, 20, 2)
optimizier = optim.Adam(model.parameters())
criterion = nn.CrossEntropyLoss()

In [19]:
from tqdm.auto import tqdm

In [20]:
for epoch in tqdm(range(10)):
  for batch in train_loader:
    a, b = batch
    optimizier.zero_grad()
    out = model(a)
    loss = criterion(out, b)
    loss.backward()
    optimizier.step()

HBox(children=(FloatProgress(value=0.0, max=10.0), HTML(value='')))

In [21]:
print(loss.detach().item())

0.2512893080711365

In [22]:
x_test = x_test.drop(["age", "embarked", "deck", "embark_town"], axis=1)
x_test = pd.get_dummies(x_test)
x_test = torch.tensor(x_test.values.astype(np.float32))
result = model(x_test)
#print(result)

In [23]:
predicts = torch.max(result, 1)[1]
#print(predicts)

In [24]:
support.calc_score(predicts)

0.924731182795699